

.login-container{
    display: grid;
    place-items: center;
    margin: 8rem auto 0;
    height: 100%;
}
.login{
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    border-radius: var(--radius-md);
    background: var(--color-black-light);
}
.login .left{
    padding: 3rem 2rem;
}
.login .left h2 span{
    color: var(--color-green);
}
.login .left p{
    color: var(--color-gray);
}
.login .right{
    background: var(--color-green-dark);
    width: 100%;
    padding: var(--spacing-xl);
    color: var(--color-black-light);
}
.login .right .email{
    padding: 1rem 0;
}
.login .right .email .mail, .login .password .pass{
    width: 100%;
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem;
    background: rgba(255, 255, 255, 0.2);
border-radius: var(--radius-md);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
.login .right .email .mail input, .login .right .password .pass input{
  background: transparent;
  border: none;
  width: 100%;
}
.login .right .email .mail i, .login .right .password .pass i{
    color: var(--color-gray-light);
}
input [type="email"]:active {
   border: none;
   outline: none;
   font-weight: bold;
}
input [type="email"]:focus {
   border: none;
   outline: none;
}
.login .btn{
    padding: 2rem 0;
}
.login .btn button{
   width: 100%;
   padding: 1rem;
   border-radius: var(--radius-md);
   border: none;
   background: var(--color-black);
   color: var(--color-gray-light);
   font-weight: bold;
   cursor: pointer;
   transition: all 400ms;
}
.login .btn button:hover{
    background: var(--color-black-light);
}
.bottom p span{
  cursor: pointer;
  color: var(--color-black);
}


@media screen and (min-width: 650px) {
    .login{
        grid-template-columns: 1fr 1fr;     
    }
    .login-container{
       margin: 12rem auto 0;
    }
}